version: '3.0'

# FIXME: webappコンテナの起動

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./etc/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 8443:80
    depends_on:
      - webapp
  mysql:
    image: mysql/mysql-server:8.0.31
    container_name: mysql
    environment:
      - "MYSQL_ROOT_HOST=%"
      - "MYSQL_ROOT_PASSWORD=root"
    volumes:
      - ../webapp/sql/initdb.d:/docker-entrypoint-initdb.d
      - mysql_volume:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -uisucon -pisucon
      interval: 1s
      timeout: 3s
      retries: 40
      start_period: 10s

  powerdns:
    image: powerdns/pdns-auth-master
    container_name: powerdns
    environment:
      - "PDNS_AUTH_API_KEY=isudns"
    ports:
      - "1053:53"
      - "1053:53/udp"
      - "8081:8081"
    volumes:
      - powerdns_volume:/var/lib/powerdns
      # NOTE: gsqlite3バックエンドを読み込もうとするので、これを上書きしてしまう
      # https://github.com/PowerDNS/pdns/blob/8cbe7d8e3c44f87b986a6f88cda98c3a0d943026/Dockerfile-auth#L88 
      # https://github.com/PowerDNS/pdns/blob/8cbe7d8e3c44f87b986a6f88cda98c3a0d943026/dockerdata/pdns.conf#L3
      - ../webapp/powerdns/pdns.conf:/etc/powerdns/pdns.conf:ro
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  webapp:
    build: 
      context: ../webapp/go
    init: true
    working_dir: /home/isucon/webapp/go
    container_name: webapp
    volumes:
      - ../webapp/init.sh:/home/isucon/webapp/go/init.sh
      - ../webapp/init.sql:/home/isucon/webapp/go/init.sql
      - ../webapp/initial_users.sql:/home/isucon/webapp/go/initial_users.sql
      - ../webapp/initial_tags.sql:/home/isucon/webapp/go/initial_tags.sql
      - ../webapp/initial_livestreams.sql:/home/isucon/webapp/go/initial_livestreams.sql
    environment:
      ISUCON13_MYSQL_DIALCONFIG_ADDRESS: mysql
      ISUCON13_POWERDNS_HOST: powerdns
      ISUCON13_POWERDNS_APIKEY: isudns
      ISUCON13_POWERDNS_SUBDOMAIN_ADDRESS: 127.0.0.1
      ISUCON13_POWERDNS_DISABLED: true
    ports:
      - 12345:12345
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_volume:
  powerdns_volume:
