version: '3.0'

services:
  webapp:
    cpus: 2
    mem_limit: 4g
    build: 
      context: ../webapp/go
    init: true
    working_dir: /home/isucon/webapp/go
    container_name: webapp
    volumes:
      - ../webapp/init.sh:/home/isucon/webapp/go/init.sh
      - ../webapp/init.sql:/home/isucon/webapp/go/init.sql
      - ../webapp/initial_users.sql:/home/isucon/webapp/go/initial_users.sql
      - ../webapp/initial_tags.sql:/home/isucon/webapp/go/initial_tags.sql
      - ../webapp/initial_livestreams.sql:/home/isucon/webapp/go/initial_livestreams.sql
      - ../webapp/initial_reservation_slots.sql:/home/isucon/webapp/go/initial_reservation_slots.sql
      - ../webapp/initial_reactions.sql:/home/isucon/webapp/go/initial_reactions.sql
      - ../webapp/initial_livecomments.sql:/home/isucon/webapp/go/initial_livecomments.sql
      - ../webapp/NoImage.jpg:/home/isucon/webapp/go/NoImage.jpg
      - ../provisioning/ansible/roles/powerdns/files/pdns.conf:/etc/powerdns/pdns.conf
      - ../provisioning/ansible/roles/powerdns/files/docker.conf:/etc/powerdns/pdns.d/docker.conf
    environment:
      ISUCON13_MYSQL_DIALCONFIG_ADDRESS: mysql
      ISUCON13_POWERDNS_HOST: powerdns
      ISUCON13_POWERDNS_SUBDOMAIN_ADDRESS: 127.0.0.1
      ISUCON13_POWERDNS_DISABLED: true
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
