{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true
    }
  },
  "rules": {
    "import/order": "error"
  }
}
