[Unit]
Description=run aws-env-isucon-subdomain-address once
Before=mysql.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/aws-env-isucon-subdomain-address.sh

[Install]
WantedBy=multi-user.target
