[Unit]
Description=isupipe-perl
After=syslog.target
After=mysql.service
Requires=mysql.service

[Service]
WorkingDirectory=/home/isucon/webapp/perl
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/.x ./local/bin/plackup -s Starlet -p 8080 -Ilib app.psgi
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=on-failure

[Install]
WantedBy=multi-user.target
