[Unit]
Description=isupipe-go
After=syslog.target
After=mysql.service
Requires=mysql.service

[Service]
WorkingDirectory=/home/isucon/webapp/go
EnvironmentFile=/home/isucon/env.sh
EnvironmentFile=/home/isucon/env-isucon-subdomain-address.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/webapp/go/isupipe
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
